#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.e2e
*.svclog
*.obj
*.exe
*.xap
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tmp
*.metaproj
*.msi
log.txt
log.txt.*
[Bb]in
[Bb]in/[Dd]ebug*/
csx
*.lib
*.sbr
*.dbmdl
*.dbproj.schemaview
*.orig
.merge_file_*
.vs/
UnitTests/Results/
obj/
[Bb]in/[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/Build/
/KeyRing/*
log.*
InstallUtil.InstallLog
WebEssentials-Settings.json
InstallUtil.InstallLog
*.js.map
GlobalSuppressions.cs
.viminfo
.bash_history
.gitconfig
cc.bat
out.txt
bench_results.txt
.idea/
.vscode/
/sh.exe.stackdump
report.*.json
UpgradeLog*.htm
AzureWorkers

# User Files
.editorconfig
MigrationBackup/**